<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="my.project_sirius.design.Activator"
               id="my.project_sirius.design"
	       name="project_sirius">
    </component>
  </extension>
</plugin>
