<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated microArch -->
      <package
            uri="http://it.univa.disim.micro"
            class="micro.MicroPackage"
            genModel="model/microArch.genmodel"/>
   </extension>

</plugin>
